.inbox-contacts {
	width: 380px;
	height: 100%;
	border-right-style: solid;
	border-color: var(--color-offwhite);
	border-width: 2px;
	padding-right: 25px;
}

.inbox-contact-header {
	margin-bottom: 20px;
}

.inbox-contact-header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.inbox-ul {
	padding:25px;
	padding-left: 0px;
	margin: 0px;
	width:100%;
	overflow:auto;
	height: 68vh;
}

.add-chat-btn {
	background-color: var(--color-blue);
	border-radius: 50%;
	width: 30px;
	height: 35px;
	cursor: pointer;
	display: grid;
	place-items: center;
}

.add-chat-btn:active {
	filter: brightness(50%);
}
