.inbox-contacts {
	width: 375px;
	height: calc(100vh - 105px);
	border-right-style: solid;
	border-color: var(--color-offwhite);
	border-width: 2px;
	display: flex;
  	flex-flow: column;
}

.inbox-contact-header {
	margin-bottom: 20px;
	height: 117px;
	padding-right: 25px;
}

.inbox-contact-header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.inbox-contact-list {
	margin: 0px;
	width:100%;
	overflow:auto;
	flex-grow: 1;
}

.inbox-ul {
	padding:0px;
}

.add-chat-btn {
	background-color: var(--color-blue);
	border-radius: 50%;
	width: 30px;
	height: 35px;
	cursor: pointer;
	display: grid;
	place-items: center;
}

.add-chat-btn:active {
	filter: brightness(50%);
}

.chat-btn {
	background-color: var(--color-blue);
}
