.message-outer-container {
	display: grid;
	width: 100%;
}

.message-container {
	display: flex;
	flex-direction: row;
	width:min-content;
}

.message {
	border-radius: 20px;
	max-width: 500px;
	height: fit-content;
	padding: 10px 20px 10px 20px;
	text-align: left;
	margin: 5px 20px 5px 20px;
	overflow-wrap: break-word;
}

.message * {
	margin: 0px;
}

.message-user {
	background-color: var(--color-blue);
}

.message-contact {
	background-color: var(--color-medium);
}

.message-container-user {
	justify-self: flex-end;
}

.message-container-contact {
	justify-self: flex-start;
}

.message-options-container {
	display: grid;
	place-items: center;
	display: none;
}

.message-options {
	border-radius: 50%;
	height: 33px;
	width: 33px;
	background-color: var(--color-medium);
	color: var(--color-white);
	display: grid;
	place-items: center;
	place-self: center;
	margin:0px;
	padding:0px;
	margin-left:3px;
	margin-right:3px;

}

.message-options-btn {
	background-color: var(--color-white);
}

.message-options-btn :hover {
	background-color: var(--color-offwhite);
}

.edit-message-cancel-btn {
	padding: 6px;
	border-radius: 20px;
	margin-left: 5px;
}

.edit-message-input {
	border-radius: 4px;
}