.landing-page {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color-xdark);
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1080px;
    height: 80px;
    background-color: var(--color-xdark);
}
.banner-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.banner-header > h1 {
    margin: auto;
}
.information-body {
    overflow: hidden;
    min-width: 1080px;
    height: 70vh;
    min-height: 590px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/landing-background.png);
    background-size: 100% 100%;
    margin-bottom: 40px;
}
.information-text {
    font-family: var(--font);
    width: 40%;
    max-width: 500px;
    font-size: var(--text-big);
    margin-right: 40px;
    margin-left: 40px;
}
.carousel-container {
    width: 40%;
    margin-left: 40px;
    background-color: rgb(140, 140, 160, 0.7);
    border-radius: 10px;
    padding: 20px 20px 0 20px;
}
.snippet {
    height: 30vh;
}
.logo {
    border-radius: 10px;
    background-color: var(--color-offwhite);
    margin-right: 20px;
}
.login-btn {
    border: solid;
    color: var(--color-white);
    margin: 20px;
    width: 120px;
    height: 40px;
    border-color: var(--color-offwhite);
    border-width: 2px;
    background-color: var(--color-medium);
}
.signup-btn {
    border: solid;
    color: var(--color-white);
    margin: 20px;
    margin-right: 80px;
    width: 120px;
    height: 40px;
    border-color: var(--color-offwhite);
    border-width: 2px;
    background-color: var(--color-blue);
}
.landing-names {
    position: absolute;
    background-color: var(--color-xdark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    bottom: 0;
}
.name-row {
    color: var(--color-offwhite);
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.name-row > h3 {
    bottom: 0;
    width: 20%;
    margin: 0px 40px 0px 40px;
}
.copyright {
    font-family: var(--font);
    position: absolute;

    right: 20px;
}