.task-details {
	display: flex;
	flex-direction: row;
	place-items: center;
	min-width: 700px;
	margin: 0px 25px 0px 25px;
}
.task-accordion {
	width: 100%;
}
.accordion-header {
	width: 100%;
	border-radius: 10px;
	background-color: var(--color-offwhite);
}
.accordion-header > button {
	background-color: var(--color-offwhite);
	color: var(--color-white);
	cursor: pointer;
}
.accordion-header > button:focus {
	outline: none;
	box-shadow: none;
}
.accordion-body {
	margin-bottom: 25px;
}
.task-notes-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.add-note-btn{
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-medium);
	background-color: var(--color-medium);
	color: var(--color-white);
	height: 30px;
	width: 60px;
	outline:none;
	cursor: pointer;
	margin: 10px;
	text-align: center;
}
.unselectable-task-priority {
	background-color: var(--color-offwhite);
}
.task-details-top {
	display: grid;
	place-items: end;
}
.task-details-bottom {
	display: grid;
	place-items: center;
	margin-bottom: 20px;
}
.task-notes-section {
	border-radius: 10px;
    background-color: var(--color-dark);
    overflow: auto;
    max-height: 240px;
}
.task-details-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.task-contact-container {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 100%;
	min-width: 160px;
	max-height: 240px;
	min-height: 200px;
	background-color: var(--color-dark);
}
.task-note-add {
	display: flex;
	justify-content: flex-end;
}
.task-details-left {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.task-details-middle {
	margin-left: 25px;
	margin-right: 25px;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.task-details-right {
	display: flex;
	flex-direction: column;
	width: 40%;
}
*::-webkit-scrollbar {
    width: 10px;
    border-radius: 25%;
}
*::-webkit-scrollbar-track {
    background: var(--color-dark);
}
  /* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-medium);
	border-color: var(--color-medium);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-xdark);
}
::-webkit-scrollbar-corner {
    background: var(--color-dark);
	border-color: var(--color-dark);
	border-radius: 0px;
}