.close-add-form {
	display: flex;
	justify-content: flex-end;
}
.close-button {
	padding:15px;
	cursor: pointer;
}
.form-label {
	font-weight: bold;
	font-family: var(--font);
}
.add-form {
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	padding: 50px;
	padding-left: 100px;
	padding-right: 100px;
	height: 250px;
}
.form-input {
    font-family: var(--font-family);
    background-color: var(--color-dark);
    font-size: var(--text-medium);
    color: var(--color-offwhite);
    border-color: var(--color-offwhite);
    height: 40px;
}
.form-close-button {
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
}
.form-date-input {
	font-family: var(--font);
	font-size: var(--text-msmall);
	color: var(--color-offwhite);
	padding: 5px;
	outline: none;
	border-style: none;
	border-bottom: solid var(--color-offwhite);
	border-width: 2px;
	background-color: var(--color-dark);
	width: 55%;
}
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}