:root {
	--font: 'Montserrat', sans-serif;
	--text-big: 25px;
  --text-medium: 20px;
  --text-small: 15px;
	--text-xsmall: 12px;
	--text-xxsmall: 10px;
	--color-dark: #3a3b50;
  --color-medium: #585c74;
  --color-teal: #70d4cc;
	--color-orange: #d4a46c;
	--color-purple: #be8bfc;
	--color-green: #5dbc94;
	--color-blue: #54a3fb;
	--color-white: #FFFFFF;
  --color-offwhite: #8e91a5;
	--color-black: #000000;
}
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
body {
  background-color: var(--color-dark);
}

.App {
  text-align: center;
  color: var(--color-white);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-body {
  margin-left:240px;
  display: grid;
  place-items: center;
  padding: 50px;
}