.contacts-page {
	width:600px;
}

.contact-header {
	display: flex;
	flex-direction: row;
	text-align: left;
	width: 100%;
}

.contact-header h1{
	margin: 20px auto 20px 0px;
	margin-left: 0px;
}

.contact-sub-header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#button-dropdown-body{
	background-color: var(--color-dark);
	color: var(--color-white);
	box-shadow: none;
	border-style: none;
}

.filter-dropdown {
	margin-right:15px;
}

.contact-box {
	width:100%;
}

.contact-list-group {
	padding: 0px;
}

.contact-item {
	outline: none;
	background-color: var(--color-dark);
	color: var(--color-white);
	display: flex;
	flex-direction: row;
	border-bottom: solid;
	border-width: 1px;
	border-color:var(--color-offwhite);
	border-end-end-radius: 2px;
	padding-bottom: 10px;
}

.contact-info h5{
	align-self: center;
	margin: 0px;
	margin-left: 30px;
}

.contacts-btn {
	background-color: var(--color-teal) !important;
    border-style: solid;
    border-color: var(--color-teal);
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-white);
}

.contacts-btn-outline {
	background: none;
    border-style: solid;
    border-color: var(--color-teal);
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-teal);
}



.contact-btns {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.contact-info {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	cursor: pointer;
	width: 100%;
}

.contact-options {
	display: flex;
	justify-content: flex-end;
}